* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #ffffff;
    width: 100%;
}

.container {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
}

.left h1 {
    width: 100%;
    max-width: 560px;
    margin-bottom: 20px;
    font-size: 32px;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 560px;
    z-index: 99999;
}

.input {
    border: 1px solid #000000;
    border-radius: 5px;
    min-width: 100%;
    margin-bottom: 20px;
    padding: 0 18px;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
    height: 42px;
}

.button {
    z-index: 2;
    background-color: #0056fb;
    height: 42px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    max-width: 560px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.5s linear;
}

.button:hover {
    background-color: #008afb;
}

.area {
    width: 100%;
    max-width: 560px;
    margin-bottom: 20px;
}

.link {
    align-self: flex-start;
    font-weight: bold;
}

.link a {
    text-decoration: none;
    color: #000000;
    font-weight: normal;
    margin-left: 5px;
}
.right {
    flex: 1;
    background-color: #0056fb;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
}

.infoImg {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 20px;
}

.sub {
    max-width: 400px;
    font-size: 38px;
    color: #ffffff;
    margin-bottom: 20px;
}

.descrição {
    line-height: 150%;
    max-width: 400px;
    color: #ffffff;
}

.form::before {
    content: "";
    position: absolute;
    background-image: url("assets/code.svg");
    background-size: 90px;
    background-repeat: no-repeat;
    z-index: 1;
    width: 90px;
    height: 90px;
    opacity: 0.7;
    bottom: -5px;
    right: -35px;
}

@media (max-width: 700px) {
    .container {
        flex-direction: column;
        min-height: 100vh;
    }
    .left {
        width: 85%;
        padding: 24px 0;
    }
    .left h1 {
        margin-bottom: 20px;
    }
    .right {
        padding: 32px 0;
        width: 100%;
        height: 100%;
    }

    .form::before {
        background-size: 80px;
        width: 80px;
        height: 80px;
    }
}
